body {
  background-color: #b5ac01;
  margin: 0;
}
#total {
  background-color: #ecba09;
  padding: 0 30px 30px 30px;
  width: 710px;
  margin: 0 auto;
}
.content-chunk {
  clear: both;
  padding: 1em 0 0 0;
}
.content-image {
  padding: 10px;
}
.round {
  border-radius: 10px;
}
nav {
  margin: 15px;
  padding: 5px;
  text-align: center;
  background-color: #e86e1c;
}
nav li {
  display: inline;
  padding: 5px;
  margin: 0;
}
.header-image {
  width: 770px;
  position: relative;
  left: -30px;
}
nav a {
  text-decoration: none;
  color: #1b1521;
}
nav a:hover {
  text-decoration: underline;
}
