body {
  background-color: #b5ac01;
  margin: 0;
}
#total {
  background-color: #ecba09;
  padding: 0 30px 30px 30px;
  width: 710px;
  margin: 0 auto;
}
.content-chunk {
  clear: both;
  padding: 1em 0 0 0;
}
.content-image {
  padding: 10px;
}
img {
  max-width: 100%;
}
nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline;
  padding: 0;
  margin: 0;
}
